<%= form_with(model: colour_piece, local: true) do |form| %>
  <% if colour_piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(colour_piece.errors.count, "error") %> prohibited this colour_piece from being saved:</h2>

      <ul>
      <% colour_piece.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
